.landingContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 64px;
    padding-right: 64px;
    height: 100vh;
}
.navContainer {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainLandingContainer {
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoNavContainer {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    color: #e5007a;
}
.buttonNavContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    border-radius: 10px;
    width: 20%;
    background-color: #e5007a;
    color: white;
    text-decoration: none;
}
.headingLandingContainer {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 7%;

    color: #e5007a;
}
.heading1Container {
    font-size: 64px;
    font-weight: 600;
}
.heading2Container {
    font-size: 36px;
    font-weight: 400;
    color: black;
}
.socialLogoContainer {
    margin-top: 64px;
}

