/* div.proposalContainer * {
    border: 0.5px solid black;
}  */
.proposalPageDashContainer{
    width: 83%;
    
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 64px;
    padding-top: 36px;
    /* background-color: green; */
}

.headingProposalPageContainer{
    font-size: 24px;
    margin-right: 24px;
    color: #e5007a;
}
.proposalContainer {
    padding: 24px;
    
    
    width:100%;
}
.headingCommentsTop{
    font-size: 36px;
    font-weight: 600;

}
.topIntroBarContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    
    width: 100%;
    margin-left: 24px;

}

.proposalName > h1 {
    
    font-size: 48px;
    font-weight: 600;
    margin: 0px 0px 0px 0px;
    margin-bottom: 0px;
}

.proposalAuthor {
    
    color: #696969;
    height: 16px;
    font-size: 12px;
    text-align: left;
    margin-left: 24px;
    font-style: italic;


    
}

.proposalContent {
    margin: 24px 0px 0px;
    height: 300px;
}


#rectangle{
    width:100;
    height:14px;
    background-color:black;
    box-shadow: 4px 4px 4px #d3d3d3;
}
.proposalFooter {
    display: flex;
    
    justify-content: space-between;
    color: black;
    width: 8%;
    margin-left: 24px;
}

.proposalUpVotes{
    margin-right: 6px;
}


.solid{
    border-top: 3px solid #bbb;
    width: 100%;
    margin-top: 16px;
    
    margin-bottom: 36px;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    width:80%;
    height:1px;

    background-color:black;
    box-shadow: 4px 4px 4px #d3d3d3; */
}
.proposalDiscussion {

    margin: 24px 0 0 0;
}





